<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" UpgradeCode="CB7D1DDD-AE29-4102-8527-9C2AEBAE7FED" 
        Name="Gorg" Version="{{VERSION_STRING}}" Manufacturer="The Gorg Foundation" Language="1033">
        
        <Package InstallerVersion="200" Compressed="yes" Comments="Windows Installer Package"/>
        <Media Id="1" Cabinet="gorg.cab" EmbedCab="yes"/>
       
        <MajorUpgrade
            DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />
        


        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="APPLICATIONROOTDIRECTORY" Name="Gorg">
                    <Directory Id="BIN_DIR" Name="bin" />
                    <Directory Id="TEMPLATES_DIR" Name="templates" />
                </Directory>
            </Directory>
        </Directory>

        <DirectoryRef Id="BIN_DIR">
            <Component Id ="envpath" Guid="085790F3-B4BD-4458-94FF-3C9DAD0E5ACA">
                <CreateFolder />
                <Environment 
                    Id="SET_ENV"
                    Action="set"
                    Name="Path"
                    Part="last"    
                    Permanent="no"
                    System="yes"
                    Value="[BIN_DIR]" />
            </Component>
            <Component Id="gorg.exe" Guid="A8315F21-3BC8-4603-8AF6-F470792136E9">
                <File Id="gorg.exe" Source="src/bin/gorg.exe" KeyPath="yes" Checksum="yes"/>
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="TEMPLATES_DIR">
            <Component Id="gorgasset.template" Guid="A676D1D2-38B1-470A-BF51-D934A6DE2E8F">
                <File Id="gorgasset.template" Source="src/templates/gorgasset.template" KeyPath="yes" Checksum="yes"/>
            </Component>
            <Component Id="gorgindex.html.template" Guid="54EB8C24-36DC-4ACC-B2BD-8D6C4A90D581">
                <File Id="gorgindex.html.template" Source="src/templates/gorgindex.html.template" KeyPath="yes" Checksum="yes"/>
            </Component>
        </DirectoryRef>

        <Feature Id="DefaultFeature" Level="1">
            <ComponentRef Id="envpath" />
            <ComponentRef Id="gorg.exe"/>
            <ComponentRef Id="gorgasset.template"/>
            <ComponentRef Id="gorgindex.html.template"/>
        </Feature>
    </Product>
</Wix>